::ng-deep .ng-select .ng-select-container {
    border: 1px solid black !important;
}

/* Đảm bảo border vẫn giữ nguyên khi focus */
::ng-deep .ng-select.ng-select-focused .ng-select-container {
    border: 1px solid black !important;
    box-shadow: none;
}