.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; // Khoảng cách giữa header và nội dung bên dưới
}

//popover tuy chinh
.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: red;
    /* Change text color to red on hover */
}

.nav-link {
    display: inline-block;
    padding: 6px 12px; // Khoảng cách bên trong
    border: 1px solid black; // Viền màu đen
    border-radius: 5px; // Bo góc
    text-decoration: none; // Loại bỏ gạch chân mặc định
    color: black; // Màu chữ
}

.nav-link:hover {
    background-color: black; // Khi hover, nền đen
    color: white; // Khi hover, chữ trắng
}